* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: black;
    --color2: white;
    --color3: rgb(201, 201, 101);
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 400px;
    margin-top: 4rem;
    justify-content: space-evenly;
}

.start {
    width: 15rem;
    height: 10rem;
    color: var(--color2);
    text-align: center;
    display: none;
}

.start-button {
    margin-top: 5rem;
    font-size: 1.25rem;
    height: 2.5rem;
    background-color: var(--color3);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: var(--color2);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.start-button:hover {
    color: var(--color3);
    background-color: var(--color2);
    font-weight: 600;
}

.game {
    position: relative;
}

.game-heading {
    color: var(--color2);
    margin-bottom: 15px;
}

.svg1 {
    position: absolute;
    right: 8%;
    top: -30px;
    height: 100px;
}

.game__section {
    max-width: 350px;
    height: 380px;
    border-radius: 1rem;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}

.options {
    border: 1px solid black;
    display: flex;
    border-radius: 0.5rem;
    border: 1px solid grey;
    color: grey;
    min-height: 30px;
    cursor: pointer;
}

.part1 {
    display: flex;
    width: 90%;
}

p {
    margin-right: 1rem;
    margin-left: 0.5rem;
}

label {
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .game {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .main {
        grid-template-columns: 280px;
    }
    .svg1 {
        height: 75px;
        top: 0px;
        left: 60%;
    }
    .header-image {
        width: 250px;
    }
}
